@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    position:relative
  }
  input {
    outline: none;
  }

  .header {
    @apply w-full md:max-w-3xl h-14 mx-auto px-2 py-1 flex items-center justify-between;
  }


  .custom-datepicker.ant-picker:hover {
    @apply border-primary-500;
  }

  .custom-datepicker.ant-picker-focused {
    outline: 0;
    @apply border-primary-500;
  }

  .ant-picker-dropdown {
    width: 100vw; /* 전체 뷰포트 너비 */
    bottom: 0; /* 화면 하단에 위치 */
    left: 0; /* 화면 왼쪽에 위치 */

  }
  
  
  .custom-datepicker-dropdown{
    position: static;
}

  
  .custom-datepicker-dropdown .ant-picker-panel-container {

    position: fixed; /* 고정 위치 */
    bottom: 0 ;
    left: 0 ;
    width: 100vw; /* 전체 뷰포트 너비 */
    z-index: 999; /* 다른 요소들 위에 표시 */
    background: white; /* 배경색 */
    border-top-left-radius: 16px; /* 상단 왼쪽 둥근 모서리 */
    border-top-right-radius: 16px; /* 상단 오른쪽 둥근 모서리 */
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직 방향 정렬 */
    justify-content: center; /* 수직 방향 가운데 정렬 */
    align-items: center; /* 수평 방향 가운데 정렬 */
  }
  .Calendar {
    margin: 0 auto;
    box-shadow: none;
  }
  .Calendar__yearText {
    display: none;
  }

  .Calendar__day.-today:not(.-selectedStart):not(.-selectedEnd):not(
      .-selectedBetween
    )::after {
    content: none;
  }

  .custom-today-day {
    @apply text-grayColor-10;
    border: none;
  }

  .custom-calendar .-selected {
    @apply bg-primary-400;
  }

  .Calendar__weekDays {
    @apply text-gray-600
    font-weight: 600;
  }
  .Calendar__weekDays {
    :first-child {
      @apply text-error
    }
    :last-child {
      @apply text-error
    }
  }
  .Calendar__monthArrow {
    /* background-image: url(${ArrowIcon}); */
  }

}
